# Conditional & Looping

# A. Conditional

### A.1 if statement

In [39]:
# return nothing
x = 8
if x > 8:
    print("benar")

In [40]:
# return something
x = 8
if x < 10:
    print("benar")

benar

In [43]:
# interaction
x = 8
y = 2
if x < 10:
    y = y + 10
y

12

### A.2 if else

In [44]:
# if else
if x > 8:
    print('Good')
else:
    print('Bad')

Bad

### A.3 Chained conditionals

In [46]:
if x <= 8 :
    print('Bad')
elif (x > 8) & (x < 12):
    print('Enough')
else:
    print('Good')

Bad

In [51]:
x = -1
if x > 0:
    print('bad')
if (x > 8) & (x < 12):
    print('Enough')
elif x >= 12:
    print('Good')
else:
    print('Null')

Null

In [52]:
x = "Giving children the chance to learn about diversity"

In [59]:
if x.find("dust") == 0 :
    print('ditemukan')
else:
    print('tidak ditemukan')

tidak ditemukan

### A.4 statement if inside in if

In [62]:
x = 0
y = 9
if x < y:
    if x == 0:
        print('tidak boleh dibagi nol')
    else:
        print(y/x)
else:
    if x > y :
        print('Bad')
    else:
        print('Same')

tidak boleh dibagi nol

In [14]:
x = 10
y = 9
if x < y:
    print('Good')
else:
    if x > y :
        print('Bad')
    else:
        print('Same')

Bad

# B. Looping

In [15]:
tim = ['liverpool','ac milan','juventus','arsenal','Barcelona']

In [72]:
tim[0]

'liverpool'

In [63]:
len(tim)

5

In [65]:
list(range(len(tim)))

[0, 1, 2, 3, 4]

In [66]:
for k in list(range(len(tim))):
    print(k)

0
1
2
3
4

In [71]:
# looping using index
for k in range(len(tim)):
    print(tim[k])

liverpool
ac milan
juventus
arsenal
Barcelona

In [73]:
# looping using item list
for k in tim:
    print(k)

liverpool
ac milan
juventus
arsenal
Barcelona

In [18]:
# list comprehension (pythonic)
[k for k in tim]

['liverpool', 'ac milan', 'juventus', 'arsenal', 'Barcelona']

# C. Combine with append

In [32]:
numbers = [3,4,5,6]
hasil = [6,8,10,12] #ekspektasi hasil

In [30]:
# Non Pythonic
double_numbers = []
for i in range(len(numbers)):
    double_numbers.append(numbers[i]*2)

double_numbers

[6, 8, 10, 12]

In [83]:
double_numbers = [] #inisiasi list
for k in numbers:
    double_numbers.append(k*2)
double_numbers

[6, 8, 10, 12]

In [84]:
# Pythonic (list comprehension)
double_numbers = [x*2 for x in numbers]
double_numbers

[6, 8, 10, 12]

# D. Combine conditional & looping

In [33]:
names = ['Jerry', 'Kramer', 'Elaine', 'George', 'Newman']

In [87]:
better_list = []
for k in names:
    if len(k) >= 6:
        better_list.append(k)
print(better_list)

['Kramer', 'Elaine', 'George', 'Newman']

In [89]:
# Print the list created by using list comprehension
best_list = [k for k in names if len(k) >= 6]
print(best_list)

['Kramer', 'Elaine', 'George', 'Newman']