In [ ]:
## Struktur data di python 
#1. Tuple -> fixed length and immutable
#2. List -> variable lenght and mutable
#3. Dict -> key and value like json
#4. Set -> unique element

### 1.Tuple

In [49]:
# Tuple merupakan tipe objek yang panjangnya tetap (fixed lenght), tidak bisa diubah (immutable)
# penulisan tuple bisa menggunakan , atau () atau tuple

In [21]:
t1 = 2,4,5
print(t1)

(2, 4, 5)

In [22]:
t2 = ((2,4,5),(3,1))
print(t2)

((2, 4, 5), (3, 1))

In [15]:
# Cek Tipe objek
t1?

In [17]:
# Convert any type object to tuple
tuple([1,3,5])

(1, 3, 5)

In [37]:
t4 = tuple(['sr',[1,2],True])
print(t4)

('sr', [1, 2], True)

In [24]:
# Tuple tidak bisa digunakan untuk assignment
t4[1] = False

TypeError: 'tuple' object does not support item assignment

In [38]:
# jika objek di dalam list ada yang mutable (misalnya list)
# Maka dia bisa ditambahkan
# kita lihat bahwa [1,2] adalah list yang bisa ditambahkan
t4[1].append(3)
print(t4)

('sr', [1, 2, 3], True)

In [45]:
# Concat bisa dilakukan di tuple
(1,2,[3,4],'dr') + (True,3)

(1, 2, [3, 4], 'dr', True, 3)

In [46]:
t = (1,3)

### 2.List

In [51]:
# List merupakan variable lenght dan bisa diubah (mutable)
# Penulisan list bisa menggunakan [] dan list

In [64]:
# penulisan cara pertama
a = [1,2,4]
print(a)

[1, 2, 4]

In [65]:
# penulisan cara kedua
b = list((1,3,5))
print(b)

[1, 3, 5]

In [66]:
# Cek struktur data
a?

In [67]:
# Menambahkan data
a.append(10)
print(a)

[1, 2, 4, 10]

In [68]:
# menambahkan data di posisi tertentu
b.insert(2,13)
print(b)

[1, 3, 13, 5]

In [59]:
# Mengambil data

In [73]:
a

[1, 2, 4, 10]

In [75]:
a[0] # urutan ke nol

1

In [69]:
a[2] # urutan kedua

4

In [70]:
a[1:] # dari urutan 1 sampai terakhir

[2, 4, 10]

In [72]:
a[:-2] # dari urutan nol sampai -2

[1, 2]

In [74]:
a[-2:] # dari urutan -2 sampai terakhir

[4, 10]

### 3.Dict

In [77]:
# Disebut juga dengan hash map atau associate array
# Identik dengan key dan value
# mirip json format

In [79]:
d1 = {
    'k1' : 'Barcelona',
    'k2' : 'Liverpool',
    'k3' : 'Madrid',
    'k4' : 'London',
    'k5' : 'Munchen'
}

In [80]:
print(d1)

{'k1': 'Barcelona', 'k2': 'Liverpool', 'k3': 'Madrid', 'k4': 'London', 'k5': 'Munchen'}

In [81]:
d1

{'k1': 'Barcelona',
 'k2': 'Liverpool',
 'k3': 'Madrid',
 'k4': 'London',
 'k5': 'Munchen'}

In [82]:
d1['k1']

'Barcelona'

### 4.Set

In [83]:
# Merupakan kumpulan elemen unik
# Seperti key di tipe objek dict
# Penulisan bisa menggunakan dua cara yaitu {} atau set

In [85]:
c = {1,1,3,4,4,4,2,4,4,7,8}
print(c)

{1, 2, 3, 4, 7, 8}

In [87]:
d = set([1,2,3,3,2,4,5,5,5,8,9])
print(d)

{1, 2, 3, 4, 5, 8, 9}